@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor0-Preto:#0F0F0F;
    --cor1-Amarelo:#FFD60A;
    --cor2-Cinza:#2b2b2b;
    --cor3-Branco:#ffffff;
}

body,html{
    min-height: 100vh;
    background-color: #1a06066b;
    

}

header{
    background-color:var(--cor2-Cinza);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100px;

}

.h1header{
    color: #ffffff;
    display: flex;
    align-self: center;
}

.navheader{
   width: 100%;
}
.ulheader{
    display: flex;
    justify-content: space-evenly;
}
.ulheader>li{
    list-style-type: none;
}
.ulheader>li>a{
    text-decoration: none;
    color: #ffffff;
    
}

/*MAIN*/
/*DISPLAY FLEX SEMPRE FUNCIONARÁ EM CONTAINERS PAI
 SE NÃO EXPANDIR LEMBRE SE O ELEMENTO ESTÁ OCUPANDO A LARGURA TODA TELA*/

section#sprincipal{
    margin: 0;

}

section{
    background-color: rgba(60, 60, 65, 0.267) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 2% 1% 2%;
    padding: 20px;
    border-radius: 10px;
}

.principal{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
   
}

.principal img{
  
   
  

}

.list01-films{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    gap: 40px;
    padding: 50px;
    background-color: #29282541;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 3px;
    border-radius: 10px;
}

.list01-films>img{
    height:300px;
    width:300px; 
    border-radius:100px;
    object-fit: contain;
   
    flex-shrink: 0;

     
}

