@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient( to right, black,  rgb(77, 0, 0));
}

header{
    background-image: linear-gradient( to right, black,  rgb(77, 0, 0));
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    
}

header > h1{
    color: rgb(182, 148, 148);
}

header > p> a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header > p > a:hover{
    text-decoration: underline;
    color: brown;
    transition: all ease-in-out 0.2s;
}

header > p{
    display: flex;
    flex-direction: row;
    gap: 20px;
   
}

/*MAIN*/

.linha {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 👈 sobe tudo pro topo */
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


section>div.container{
    background-color: black;
    padding:10px;
    display: flex;
    flex-direction: column;
    background: url(../imagens/fundo-desfocado2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left bottom;
    overflow: hidden;
    gap: 20px;
}
section>div.container>div#itexto{
    width: 900px;
    height: 150px;
    
}
section >div.container>#itexto> p{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

   
}
section>div.container>h1{
    color: rgb(255, 241, 241);
    align-self:center;
    z-index: 1;
}
section>div.container>div#supernatural{
    background-color: rgba(64, 104, 145, 0.836);
    height: 256px;
    width: 256px;
    align-self: flex-end;
    background: url(../imagens/supernatural3.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    border: 2px solid rgb(230, 230, 230);
    overflow: hidden;
    z-index: 1;
   
}

